= form_for @animal do |f|
  - if @animal.errors.any?
    %ul
      - @animal.errors.full_messages.each do |msg|
        %li= msg

  %div.form-group
    = f.label :name
    = f.text_field :name, :autofocus => true, :class => 'form-control'

  %div.form-group
    = f.label :about_me
    = f.text_field :about_me, :class => 'form-control'

  %div.form-group

    / %select{ :name => "animal[species]" }
    /   %option{:species => "Cat"}= "Cat"
    /   %option{:species => "animal[species]"}= "Dog" # 'animal[species]',"Dog", :class => 'form-control'
    /   %option{:species => "animal[species]"}= "Other" # 'animal[species]',"Other", :class => 'form-control'
    = f.label :species
    = f.text_field :species, :class => 'form-control'

  %div.form-group
    = f.label :gender
    %p.gender
      = f.label "Male"
      = radio_button_tag 'animal[gender]', "Male", value: 'checked', :class => 'form-control' 

      = f.label "Female"
      = radio_button_tag 'animal[gender]', "Female", :class => 'form-control' 
  %div.form-group
    = f.label :ideal_home
    = f.text_field :ideal_home, :class => 'form-control'

  %div.form-group
    = f.label :child_friendly
    %p.child-friendly
    = f.label "Yes"
    = radio_button_tag 'animal[child_friendly]', "Yes", value: 'checked', :class => 'form-control' 

    = f.label "No"
    = radio_button_tag 'animal[child_friendly]', "No", :class => 'form-control'

  %div.form-group
    = f.label :image
    / = f.image_url :image, :class => 'form-control'
    = form.file_field :files, multiple: true


  %label
  = f.submit