.show-animal
  %h2.col-md-8 
    =@animal.name 
  .col-md-7
    %h3 Species
    =@animal.species
  .col-md-7
    %h3 About Me
    =@animal.about_me
  .col-md-7
    %h3 My Ideal Home
    =@animal.ideal_home
  .col-md-7
    %h3 Gender
    =@animal.gender
  .col-md-7
    %h3 Child Friendly
    = @animal.child_friendly ? "Yes" : "No"

.animal-image
  %img{:src => @animal.image}
  - if @animal.adopted?
    %h4 This animal under the process of being adopted
  - else
    - if current_user 
      = form_for @animal, url: adopt_animal_path(@animal), method: 'patch' do
        = submit_tag 'Adopt me'
    - else
      = link_to "Log in to adopt", new_session_path
.col-md-7
  = link_to "Go Back", animals_path


